section .ilu {
height: 48px;
width:48px;
background-image: url('http://static.orntel.com/i/p_a.png');
background-repeat: no-repeat;
}
section .iluc {
padding:12px;
border-radius:36px;
width:48px;
height:48px;
margin: 1em auto;
background:#cdcdcd;
}
section .g {
width: 25%;
display:inline-block;
vertical-align:top;
}
section .c {
padding: 1em;
text-align: center;
font-size: 130%;
}
hr { display: none;}
@media screen and (max-width: 900px) {
section .g {width:50%}
hr { display: block;}
.c {font-size: 120% !important}
}
@media screen and (max-width: 500px) {
section .g {width:100%}
.c {font-size: 100% !important}
}